nav.sidebar-nav
  #filter-container.dropdown-department

  #list-container
  #footer-container
   p Com tecnologia do
   a(href="http://democracyos.org/", target="_blank")
     img(src='/boot/images/dos-logo.svg')
